name: CD (Test)

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build from'
        required: false
        default: 'develop'
        type: string

jobs:
  test-build:
    # Uses the unified Docker workflow in milestone mode
    uses: ArkeonProject/organization-tools/.github/workflows/reusable-docker-build.yml@v1.1.0
    with:
      image_name: ${{ github.repository }}/web
      mode: 'milestone'
      branch: ${{ inputs.branch || 'develop' }}
      dockerfile_path: './apps/web/Dockerfile'
