name: Hotfix

on:
  workflow_dispatch:
    inputs:
      description:
        description: 'Hotfix description'
        required: true
        type: string
      issue-number:
        description: 'Related issue number'
        required: false
        type: string

jobs:
  create-hotfix:
    name: Create Hotfix
    uses: ArkeonProject/organization-tools/.github/workflows/hotfix-create.yml@main
    with:
      description: ${{ github.event.inputs.description }}
      issue-number: ${{ github.event.inputs.issue-number }}
      project-type: 'node'  # CHANGE TO: node or python
