name: CD

on:
  push:
    branches: [main]
    tags: ['v*']

jobs:
  build-and-deploy:
    name: Build & Deploy Docker
    uses: ArkeonProject/organization-tools/.github/workflows/reusable/cd-python-docker.yml@main
    with:
      image-name: 'my-app'  # CHANGE THIS
      push-to-ghcr: true
      push-to-dockerhub: false
      run-tests: true
    secrets:
      GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
